<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>接口测试</title>

    <script src="../public/js/jquery.min.js"></script>
</head>
<body>
<div id="test">
    <a href="javascript:void(0);" onclick="test()"><span>接口测试</span></a>
    <div id="json"></div>
</div>
</body>
</html>

<script>
    function test() {
        var host = 'http://10.131.247.206:8081/dmpj/getData';
        var host_test = 'http://localhost:8081/dmpj/getData';
        $.ajax({
            url: host_test,
            type: 'POST',
            data:{
                vId: 4,
                mId: 1,
                type: 4,
                sTime: 1510993411,
                eTime: 1513393411
            },
            dataType: 'json',
            success: function (res) {
                if (res.code == 0) {
                    // 画图
                    // 画图所需数据在 res.data
                    $('#json').text(JSON.stringify(res.data));
                } else {
                    console.log(res.msg);
                }
            }
        });
    }
</script>